<% profile.posts.order("created_at DESC").each do |post| %>
         <div class="row">
           <div class="card col s10 offset-s1">
              <div class="card-content">
                    <div class="row">
                       <div class="col s4 valign-wrapper">
                         <%= cl_image_tag(post.profile.photo, :width => 55, :height => 50, 
                           :crop => :fill, :gravity => :face,
                           :radius => 10, class:"responsive-img") %>
                      <span style="font-size:1em; margin:5px" class="valign">  <%=post.profile.first_name%></span>  
                       </div><!-- quien creo el post-->
                    </div><!-- El coso de arriba-->
                    <h1 class="card-title black-text center-align" style="margin:0px;">
                      <strong><%= post.title%></strong>
                    </h1>
                    <div class="row">
                    <p><%= post.description %></p>
                    </div>
                    <!-- Aqui van las fotos -->
                    <div class="row">
                       <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>
                       <!-- Modal Structure -->
                       <div id="modal1" class="modal">
                         <div class="modal-content">
                           <div class="col s2"><button id="prev-photo">Anterior</button></div>
                            <div class="col s8">
                             <div class="slider">
                                <ul class="slides">
                                    <li>
                                      <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
                                      <div class="caption center-align">
                                        <h3>This is our big Tagline!</h3>
                                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                      </div>
                                    </li>
                                    <li>
                                      <img src="http://lorempixel.com/580/250/nature/2"> <!-- random image -->
                                      <div class="caption left-align">
                                        <h3>Left Aligned Caption</h3>
                                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                      </div>
                                    </li>
                                    <li>
                                      <img src="http://lorempixel.com/580/250/nature/3"> <!-- random image -->
                                      <div class="caption right-align">
                                        <h3>Right Aligned Caption</h3>
                                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                      </div>
                                    </li>
                                    <li>
                                      <img src="http://lorempixel.com/580/250/nature/4"> <!-- random image -->
                                      <div class="caption center-align">
                                        <h3>This is our big Tagline!</h3>
                                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                                      </div>
                                    </li>
                                </ul>
                              </div>
                           </div>
                           <div class="col s2"><button id="next-photo">Siguiente</button></div>
                         </div>
                         
                         
                       </div>
                    </div>
                    <div class="row">
                      <span class="blue-grey-text text-lighten-3">
                        <%= post.created_at.strftime("%d-%b a las %d:%I %p")%>
                      </span>
                    </div>
                </div>
               <!-- Aqui van los comentarios -->
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><strong>Comentarios</strong><i class="material-icons right">close</i></span>
                  <!-- Crear comentario -->
                   <div class="">
                     <ul class="collection">
                       <%= form_for([post, comment]) do |f| %>
                         <li class="collection-item avatar" style="padding-left:0px; ">
                          <div class="row">
                          <div class="col s1">
                           <%= cl_image_tag(profile.photo, :width => 50, :height => 50, 
                           :crop => :fill, :gravity => :face,
                           :radius => 10 , class:"responsive-img left-align")%>
                          </div>
                          <div class="col s10">
                            <%= f.text_area :message, placeholder:"Escribe tu comentario" %>
                          </div> 
                          <div class="col s1">
                              <button class=" btn-flat secondary-content transparent" type="submit">
                                <i class=" material-icons light-green-text text-accent-4" style="font-size:30px">
                                  send
                                </i>
                              </button>
                          </div>
                        </div>
                         </li>
                       <% end %>
                       <!-- Listar comentarios-->
                       <% post.comments.each do |comment| %>
                        <li class="collection-item avatar " style="padding-left:0px">
                                <div class="row">
                                    <div class="col s1">
                                          <%= cl_image_tag(comment.profile.photo, :width => 50, :height => 50, 
                                     :crop => :fill, :gravity => :face,:radius => 10 , class:"responsive-img left-align")%>

                                    </div>
                                    <div class="col s11">
                                     <strong><%= comment.profile.first_name%></strong><br>
                                      <p class="text-black"><%= comment.message%></p><br>
                                      <span class="blue-grey-text text-lighten-3">
                                        <%= comment.created_at.strftime("%d-%b a las %d:%I %p")%>
                                      </span>
                                    </div>
                                </div>
                                <div class="row">
                                 <div class="s12">
                                    
                                 </div>
                                </div>
                          </li>
                       
                       <% end %> 
                     
                   </ul>
                   </div>
              </div>
              <!-- Aqui van otras acciones -->
              <div class="card-action">
                <div class="row">
                  <div class="col s3">
                    <% if post.importance == "Alta"%>
                      <i class="material-icons red-text text-darken-1">error</i>Prioridad alta  
                    <% elsif post.importance =="Media"%>
                      <i class="material-icons amber-text">warning</i>Prioridad Media
                    <% elsif post.importance == "Baja"%>
                      <i class="material-icons blue-text text-darken-2">error_outline</i>Prioridad Baja
                    <% end %>
                  </div>
                  <div class="col s3">
                    <i class="material-icons tooltipped green-text text-accent-4" data-position="top" data-delay="50" data-tooltip="I am tooltip">
                      location_on
                    </i>Lugar
                  </div>
                  <div class="col s2">
                   <i class="material-icons yellow-text text-darken-1">star</i><%=post.counter%>
                  </div>
                  <div class="col s2">
                   <i class="material-icons deep-orange-text">share</i>
                  </div> 
                  <div class="col s2">
                     <span class="card-title activator grey-text text-darken-4" style="font-size:14px">
                       <i class="material-icons light-blue-text text-accent-4">question_answer</i><%= post.comments.count %>
                     </span>
                  </div>
                  
                </div>
              </div>
           </div>
      </div>
       <% end %>