<body class="blue-grey lighten-5">
<div class="row">
  <div class="col s3">
        <div class="row">
         <div class="card">
            <div class="card-image waves-effect waves-block waves-light"> <%= image_tag 'default_p.png'%>
             <div class="card-title">
                <%= cl_image_tag(@profile.photo, :width => 90, :height => 98, 
                           :crop => :fill, :gravity => :face,
                           :radius => 20, class:"responsive-img z-depth-3") %>
             </div>
             </div>
           
         <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"> <strong><%= @profile.first_name %></strong>
                <i class="material-icons right">settings</i>
              </span>
             <p><%= current_user.email %><p>
         </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Opciones<i class="material-icons right">close</i></span>
       <div class="collection">
         <%= link_to(edit_profile_path(@profile), { class: 'collection-item light-green-text text-accent-4' }) do %>
           <i class="material-icons">create</i> Editar perfil
         <% end %>
         
         <%= link_to(destroy_user_session_path, { method: :delete , class: 'collection-item light-green-text text-accent-4' }) do %>
         <i class="material-icons">keyboard_return</i>Cerrar sesion
         <% end %>
       
      </div>
    </div>
  </div>
        </div>    
        <div class="row">
           <div class="card">
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"> <strong>Informacion de contacto</strong></span>
             <p><i class=" material-icons light-green-text text-accent-4">email</i> <%= current_user.email %></p>
                  
             <p><i class="material-icons light-green-text text-accent-4">phone_android</i>  <%= @profile.phone_number %></p>    
         </div>
  </div>
        </div>
        <div class="row">
           <div class="card">
               <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"> <strong>Biografia</strong></span>
             <p><%= @profile.about %></p>
                
         </div>
  </div>
        </div>
      </div>
  
  <div class="col s9">
      <div class="row">
               <div class="card col s10 offset-s1" style="overflow: visible;">
                 <%= form_for(@post, :html => { :multipart => true, :remote => true }) do |f| %>
                    <%= f.hidden_field :counter, :value => 0 %>
                    <%= f.hidden_field :state, :value =>"Sin resolver"%>
                      <div class="card-content">
                               <div class="row">
                                  <div class="input-field col s9">
                                    <i class="material-icons prefix">create</i>
                                    <%= f.text_field :title %>
                                    <label>Titulo</label>
                                  </div>
                                  <div class=" input-field col s3">
                                    
                                       <%= f.select(:importance, options_for_select(
                                          [   
                                            ["Prioridad",'', { 'disabled' => 'disabled', 'selected' => 'selected' }],
                                            ['Alta','Alta', {}],
                                            ['Media','Media', {}],
                                            ['Baja', 'Baja', {}] 
                                          ]
  )) %>
                                  </div>  
                               </div>
                               <div class="row">
                                   <div class="input-field">
                                       <i class="material-icons prefix">format_align_right</i>
                                      <%= f.text_area :description, class: "materialize-textarea" %>
                                      <label>Descripcion</label>
                                    </div> 
                                </div>
                               <div class="row">
                                 <%= f.fields_for :photos do |p| %>
                                       <%= p.hidden_field :url_cache %>
                                       <div class="file-field input-field">
                                          <div class="btn blue accent-3">
                                             <span>Foto</span>
                                             <%= p.file_field :url, multiple: true, 
                                             name: "photos[url][]",image_metadata: true %>
                                          </div>
                                          <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="sube una o mas fotos">
                                          </div> 
                                       </div>  
                                 <% end %> 
                               
                               </div>
                               <div class="row">
                                  <div class="right">
                                   <button class="waves-effect waves-light btn light-green accent-4 right-align ">
                                     publicar
                                   </button>
                                 </div>  
                               </div>
                          </div>
                  <% end %>    
               </div>
          </div>
    <div id="posts">
      <%= render partial: 'profiles/posts', locals: { profile: @profile, comment: @comment } %>
    </div>
  </div>

   
</div>
</body>


          





