
<div class="row">
 <div class="col s9">
          <div class="row">
               <div class="card col s10 offset-s1" style="overflow: visible;">
                  <%= form_for(@post, :html => { :multipart => true }) do |f| %>
                      <div class="card-content">
                               <div class="row">
                                  <div class="input-field col s9">
                                    <i class="material-icons prefix">create</i>
                                    <%= f.text_field :title %>
                                    <label>Titulo</label>
                                  </div>
                                  <div class=" input-field col s3">
                                    
                                       <%= select_tag(:importance, options_for_select(
                                          [   
                                            ["Prioridad",'', { 'disable' => 'disable', 'selected' => 'selected' }],
                                            ['Alta','Alta', { }],
                                            ['Media','Media', { }],
                                            ['Baja', 'Baja', { }] 
                                          ]
                                    )) %>
                                  </div>  
                               </div>
                               <div class="row">
                                   <div class="input-field">
                                       <i class="material-icons prefix">format_align_right</i>
                                      <%= f.text_area :description, class: "materialize-textarea" %>
                                      <label>Descripcion</label>
                                    </div> 
                                </div>
                               <div class="row">
                                 <%= f.fields_for :photos do |p| %>
                                       <%= p.hidden_field :url_cache %>
                                       <div class="file-field input-field">
                                          <div class="btn green accent-4">
                                             <span>Fotos</span>
                                             <%= p.file_field :url, multiple: true, 
                                             name: "photos[url][]",image_metadata: true %>
                                          </div>
                                          <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text">
                                          </div> 
                                       </div>  
                                 <% end %> 
                               
                               </div>
                               <div class="row">
                                  <div class="right">
                                   <button class="waves-effect waves-light btn green accent-4 right-align ">
                                     publicar
                                   </button>
                                 </div>  
                               </div>
                          </div>
                  <% end %>    
               </div>
          </div>
      </div>
</div>
<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

    <%= f.fields_for :photos do |p| %>
     <%= p.hidden_field :url_cache %>
     <div class="field">
       <%= p.label :url %><br>
       <%= p.file_field :url, multiple: true, name: "photos[url][]",image_metadata: true %>
     </div>
   <% end %>

  
  <div class="field">
    <%= f.label :importance %><br>
    <%= select_tag(:importance, options_for_select(
      [   
        ["Elige la prioridad",'', { 'disable' => 'disable', 'selected' => 'selected' }],
        ['Alto','Alto', { }],
         ['Medio','Medio', { }],
         ['Bajo', 'Bajo', { }] 
      ]
)) %>
     
    <%= f.select :importance, options_for_select([["Alto"], ["Medio"], ["Bajo"]]) %>
   
  </div>
  <div class="field">
   <%= f.hidden_field :state, :value =>"Sin resolver"%>
  </div>
  <div class="field">
    <%= f.hidden_field :counter, :vaule => 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
